.flexbox {
  display: flex;
}

.sidebar {
  align-items: stretch;
  background: #f3f3f3;
  padding-top: 20px;
}

.sidebar ul {
  padding: 0;
}

.sidebar li {
  list-style: none;
}

.sidebar a.active {
  position: relative;
}

.sidebar a.active::before {
  content: "\A";
  border-color: transparent #dd4397 transparent transparent;
  position: absolute;
  left: -12px;
  top: 5px;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid blue;
}

.thumbnail {
  padding: 10px;
  height: 260px;
}

.thumbnail:hover {
  border: 1px solid #0071cf;
  cursor: pointer;
}
