html {
}

body {
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background: rgba(0,101,201,1);
  background: -moz-linear-gradient(top, rgba(0,101,201,1) 0%, rgba(0,21,57,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,101,201,1)), color-stop(100%, rgba(0,21,57,1)));
  background: -webkit-linear-gradient(top, rgba(0,101,201,1) 0%, rgba(0,21,57,1) 100%);
  background: -o-linear-gradient(top, rgba(0,101,201,1) 0%, rgba(0,21,57,1) 100%);
  background: -ms-linear-gradient(top, rgba(0,101,201,1) 0%, rgba(0,21,57,1) 100%);
  background: linear-gradient(to bottom, rgba(0,101,201,1) 0%, rgba(0,21,57,1) 100%);
}

.container {
  background: #fff;
}

.container-full-viewport {
  height: 100vh;
  position: relative;
}
